@model MyWebRole.Models.CustomerEntity

@{
    ViewBag.Title = "title";
}

<br />

<form action="@Url.Action("Edit", "DataTableStorage")" method="post">
    <div class="row">
        <div class="col-md-4">
            <h3>First Name</h3>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(x=>x.FirstName)
            @Html.TextBoxFor(x => x.PartitionKey)
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <h3>Last Name</h3>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(x => x.LastName)
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3>Email</h3>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(x => x.Email)
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <h3>PhoneNumber</h3>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(x => x.PhoneNumber)
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <input type="submit" value="Save" />
        </div>
    </div>
</form>
<div class="row">
    <a href="@Url.Action("Index", "DataTableStorage")">Back To List</a>
</div>

